.blue {
  color: rgb(57, 143, 155);
}
.section-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../../static/images/BG-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80vh;
}
.search-box {
  background-color: white;
  padding: 2rem;
  width: 60%;

  border-radius: 8px;
}

.h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.search-field {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.btn-1 {
  background-color: #82a8cb;
  color: white;
  padding: 1rem 2rem;
  width: 15%;
  border: none;
  border-radius: 6px;
  font-size: 1.3rem;
}

.field-box {
  display: inline-flex;
  justify-content: center;
  padding: 1rem;
  width: 30%;
  align-items: center;
  border: 1px solid rgb(82, 82, 82);

  cursor: pointer;
  position: relative;
}

.left-border {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.right-border {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.icon {
  width: 1.7rem;
  margin-right: 1rem;
}

.icon-2 {
  width: 2.5rem;
}

.text-center {
  font-size: 1.8rem;
  color: white;
  font-weight: 700;
  margin-top: 6rem;
}

.hided-input {
  position: absolute;
  background-color: transparent;
  border: transparent;
  width: 100%;
  outline: none;
  caret-color: transparent;
  left: 0;
  top: 0;
  bottom: 0;
  padding-top: 15%;
  padding-left: 45%;
}

.hided-input-2 {
  position: absolute;
  background-color: transparent;
  border: transparent;
  width: 100%;
  outline: none;
  caret-color: transparent;
  left: 0;
  top: 0;
  bottom: 0;
  padding-top: 15%;
  padding-left: 35%;
}

@media screen and (max-width: 1400px) {
  .search-box {
    width: 80%;
  }
}
